@import 'setup/vars.css';
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
/* @import 'mq/mq.css'; */
@import 'components/about.css';

body {
    margin: 0;
}

.hidden {
    display: none;
}

.header {
    background-color: var(--clr1);
    height: 33px;
    padding: 8.5px 25px 0 24.5px;
}

.header .logo {
    width: 66.5px;
    height: 11px;
}

.grid {
    display: grid;
}

.flex {
    display: flex;
}

.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

.align-center {
    align-items: center;
}
.space-between {
    justify-content: space-between;
}


.main-menu a {
    display: flex;
    justify-content: right;
    color: #fff;
    text-decoration: none;
    /* display: block; */
    line-height: 130px;
    height: 130px;
    width: 8.4375rem;
    text-align: center;
 
  }

.image {
    height: 100%;
    width: 100%;  
    object-fit: cover;
    
  }
 .image:hover {
    opacity: 0.5;
  } *
 .gallery {
    width: 100%;
    grid-template-columns:repeat(auto-fit, minmax(250px, 1fr));
    align-self: center;
    grid-gap: 10px
} 

.random-btn {
    font-family: 'Alfa Slab One', cursive;
    background-color: rgb(42, 195, 33);
    color: var(--clr2);
    width: 10em;
    text-align: center;
    margin: auto;
    cursor: pointer;
}

.saved-memes {
    width: 100%;
    grid-template-columns:repeat(auto-fit, minmax(250px, 1fr));
    align-self: center;
    grid-gap: 10px
}