@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.about-heading {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.about-text {
    font-family: 'Montserrat', sans-serif;
}